header
	a.btn.goBack(href="javascript:;")
		i.iconfont.icon-back
	h1 
		a(href="/") CosyHTML
	a.btn.menuBtn(href="javascript:;")
		i.iconfont.icon-menu
	nav.menu
		.search-bar
			form(action="")
				input(type="search")
				a(href="javascript:;")
					i.iconfont.icon-search
		a(href="/") Home
		a(href="/cat/HTML") HTML
		a(href="/cat/JavaScript") JavaScript
		a(href="/cat/Notes") Notes
		a(href="/cat/Other") Other

