doctype html
html(ng-app="drink")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="format-detection", content="telephone=no")
		block links
		link(rel="stylesheet", href="/styles/admin/style.css")
		link(rel="stylesheet", href="//at.alicdn.com/t/font_1471249906_5030189.css")
		title cosyHTML Admin
	body
		block content
		footer
			p 
				|Copyright © 2016  Cmax 版权所有 
				a(href="http://www.miitbeian.gov.cn/") 粤ICP备15071339号
		script(src='/libs/zepto/zepto.min.js')
		block scripts